body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin: 0;
}

button {
  background-color: #3882f6;
  color: #E5E7EB;
  font-weight: bold;
  border: none;
  padding: 8px 24px;
  border-radius: 6px;
  cursor: pointer;
}

nav {
  display: flex;
  gap: 24px;
}

.section-container {
  max-width: 960px;
  margin-inline: auto;
  padding: 16px;
}

.hero-section {
  background-color: #1f2937;
  padding-bottom: 96px;

  .logo {
    color:#F9FAF8;
    font-weight: bold;
    font-size: 24px;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  
  header a {
    color: #E5E7EB;
    text-decoration: none;
  }
  

  p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
  }

  img {
    color: #E5E7EB;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
  }

  .hero-content {
    display: flex;
    gap: 48px;
  
    > * {
      flex: 0 1 50%;
    }
  }
}

.info-section {
  text-align: center;

  h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;

    li {
      width: 150px;
    }

    img {
      display: block;
      aspect-ratio: 1/1;
      border: 2px solid #3882f6;;
      border-radius: 8px;
    }

    p {
      color: grey;
    }
  }
}

.quote-section {
  background-color: #E5E7F6;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  color: #1F2937;
  padding-block: 48px;

  .section-container {
    max-width: 600px;
  }

  p {
    margin: 0;
  }

  .quote-origin {
    text-align: right;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
  }
}

.cta-section {
  padding: 3em 16px;
  color: #F9FAF8;

  .section-container {
    background-color: #3882f6;
    border-radius: 8px;
    padding-block: 48px;
  }

  .content {
    max-width: 600px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2, p {
    margin: 0;
  }

  button {
    border: 1px solid #F9FAF8;
    padding-block: 6px;
  }
}